.content {
  grid-area: content;
  &--top10 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-template-areas: ". .";
    grid-gap: 25px 25px;
  }
}
