.sidebar {
  grid-area: sidebar;
  padding: 1em;
  background-color: rgb(245, 245, 245);
  box-shadow: 4px 2px 5px 0px #00000024;
  position: relative;
  z-index: 999;
  &__link {
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 2em;
    font-weight: bold;
    color: black;
    margin-bottom: 1em;
    i {
      font-size: 1em;
    }
  }
  &__toggle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    background-color: inherit;
    box-shadow: inherit;
    position: absolute;
    right: -60px;
    top: 0;
    cursor: pointer;
    i {
      font-size: 2em;
    }
  }
}
