.sidebar {
  grid-area: sidebar;
  padding: 1em;
  background-color: $sidebard-color;
  box-shadow: $sidebard-shadow;
  position: relative;
  &__link {
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 2em;
    font-weight: bold;
    color: black;
    margin-bottom: 1em;
    i {
      font-size: 1em;
    }
    &.router-link-active {
      color: $active-link;
    }
  }
  &--hideSidebar {
    display: none;
  }
}
